exclude: '^docs/conf.py'

repos:
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-ast
    exclude: ^templates/
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
    exclude: ^templates/
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    exclude: ^templates/
  - id: mixed-line-ending
    args: ['--fix=auto']  # replace 'auto' with 'lf' to enforce Linux/Mac line endings or 'crlf' for Windows

## If you want to avoid flake8 errors due to unused vars or imports:
# - repo: https://github.com/myint/autoflake.git
#   rev: v1.4
#   hooks:
#   - id: autoflake
#     args: [
#       --in-place,
#       --remove-all-unused-imports,
#       --remove-unused-variables,
#     ]

- repo: https://github.com/pycqa/isort
  rev: 5.7.0
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    language_version: python3
    exclude: ^templates/

## If like to embrace black styles even in the docs:
# - repo: https://github.com/asottile/blacken-docs
#   rev: v1.9.1
#   hooks:
#   - id: blacken-docs
#     additional_dependencies: [black]

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    exclude: ^templates/
  ## You can add flake8 plugins via `additional_dependencies`:
  #  additional_dependencies: [flake8-bugbear]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v0.910'  # Use the sha / tag you want to point at
  hooks:
  - id: mypy
    exclude: ^templates/
    additional_dependencies:
    - types-requests
    - types-freezegun
    - types-python-dateutil
    - types-pkg_resources
    - types-PyYAML
    - types-tabulate
- repo: https://github.com/asottile/add-trailing-comma
  rev: v2.1.0
  hooks:
  - id: add-trailing-comma
#- repo: https://github.com/asottile/reorder_python_imports
#  rev: v2.5.0
#  hooks:
#  - id: reorder-python-imports
#    args: [--application-directories=.:src]
- repo: https://github.com/hadialqattan/pycln
  rev: v1.0.3 # Possible releases: https://github.com/hadialqattan/pycln/tags
  hooks:
  - id: pycln
    args: [--config=pyproject.toml]
    exclude: ^templates/
- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: ^templates/
