appdirs==1.4.4
apsw==3.9.2.post1
attrs==20.2.0
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
coverage==5.3
distlib==0.3.1
filelock==3.0.12
identify==1.5.6
idna==2.10
iniconfig==1.1.1
nodeenv==1.5.0
packaging==20.4
pluggy==0.13.1
pre-commit==2.7.1
py==1.9.0
pyfakefs==4.1.0
pyparsing==2.4.7
pytest==6.1.1
pytest-cov==2.10.1
pytest-mock==3.3.1
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.24.0
requests-cache==0.5.2
requests-mock==1.8.0
six==1.15.0
toml==0.10.1
urllib3==1.25.11
virtualenv==20.0.35
